html, body
{
    width: 600px;
    height: auto;
    margin: 0px 0px 0px 0px;
}

/*----------------------------------------------HEADER-------------------------------------------------------*/

header
{
    position: relative;
    width: 100%;
    height: 198px;

    /*background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;*/
}

.text-element
{
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.text-element:first-child
{
    font: normal normal normal 20px/24px Helvetica Neue;
    margin: 31px 0px 0px 0px;
}

.text-element:nth-child(2)
{
    width: 358px;
    height: 48px;

    font: normal normal bold 40px/49px Helvetica Neue;
    margin: 5px 0px 0px 121px;
}

.text-element:nth-child(3)
{
    font: normal normal normal 14px/16px Helvetica Neue;
    margin: 9px 0px 0px 0px;
}

.skew_container  {
    max-width: 100%;
    margin: auto 0px auto 0px;
    overflow: hidden;
    height: 100%;
 }
 
 .skew_container .skew_bg {
    height: 140px;
    background: #707070 0% 0% no-repeat padding-box;
    text-align: center;
    margin-top: 10px;
 }
 
 .skew_container .skew_bg.bg1 {
    transform: skew(0deg, 5deg);
 }
 
 .skew_container .skew_bg.bg1 .content {
    transform: skew(0deg, -5deg);
 }

 .rectangle-fill-skew
 {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100%;
    background: #707070 0% 0% no-repeat padding-box;
 }

 /*-------------------------------------------------SECTION----------------------------------------------*/

 #hello
 {
    margin: 5.81px 0px 0px 21px;

    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
 }

 #hello-message
 {
    width: 563px;
    height: 60px;
    margin: 9px 0px 0px 21px;

    text-align: left;
    font: normal normal normal 12px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
 }

 #list-product
 {
    width: 443px;
    height: 355px;
    margin: 17px auto auto 79px;
 }

 .info-product
 {
    width: 201px;
    height: 350px;
 }

 .info-product:nth-child(2n - 1)
 {
    float: left;
 }

 .info-product:nth-child(2n + 2)
 {
    float: right;
 }

 .image-product
 {
    width: 200px;
    height: 150px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

.image-product img
{
    width: 100%;
    height: 100%;
}

.name-product
{
    text-align: left;
    font: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.name-product h4
{
    margin: 14px 0px 0px 0px;
}

.description-product
{
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.description-product p
{
    margin: 10px 0px 0px 0px;
}

.old-price
{
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.old-price p
{
    margin: 0px 0px 0px 0px;
}

.new-price
{
    margin: 6px 0px 0px 0px;

    text-align: left;
    font: normal normal bold 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.new-price p
{
    margin: 6px 0px 0px 0px;
}

.divided-price
{
    margin: 7px 0px 0px 0px;

    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.divided-price p
{
    margin: 7px 0px 0px 0px;
}

.buy-button
{
    width: 200px;
    height: 30px;
    margin: 10px auto auto auto;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;

    text-align: center;
    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
}

.buy-button:hover
{
    background: #bebebe 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
}

#more-products-button
{
    width: 383px;
    height: 39px;
    margin: 57px auto 50px 111px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;

    text-align: center;
    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
}

#more-products-button:hover
{
    background: #bebebe 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
}

/*-------------------------------------------FOOTER---------------------------------------------------------*/

footer
{
    position: relative;
    width: 600px;
    height: 158px;

    /*background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;*/
}

.skew_container2{
    max-width: 100%;
    margin: auto auto;
    overflow: hidden;
    height: 100%;
 }
 
 .skew_container2 .skew_bg2 {
    position: relative;
    top: 70px;
    height: 100%;
    background: #707070 0% 0% no-repeat padding-box;
    text-align: center;
    margin-top: -9%;
 }
 
 .skew_container2 .skew_bg2.bg2 {
    transform: skew(0deg, -3deg);
 }
 
 .skew_container2 .skew_bg2.bg2 .content2 {
    transform: skew(0deg, 3deg);
 }

 #text-footer
 {
    padding-top: 40px;

    text-align: center;
    font: normal normal normal 12px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
 }