/**
{
    /*To see bugs*//*
    background: black !important;
    border: 1px solid red !important;
    color: green !important;
}*/

html, body
{
    width: 1500px;
    min-width: fit-content;
    height: auto;
    margin: 0px 0px 0px 0px;
}

/*-------------------------------------HEADER-------------------------------------------------*/

header
{
    position: relative;
    height: 399px;
    width: 100%;
    /*background: #707070 0% 0% no-repeat padding-box;*/
}

.text-element
{
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.text-element:first-child
{
    font: normal normal normal 20px/24px Helvetica Neue;
    padding-top: 204px;
    margin: 0px 0px 0px 634px;
}

.text-element:nth-child(2)
{
    font: normal normal bold 40px/49px Helvetica Neue;
    margin: 0px 0px 0px 571px;
}

.text-element:nth-child(3)
{
    font: normal normal normal 14px/16px Helvetica Neue;
    margin: 24px 0px 0px 476px;
}

#container-buttons-header
{
    width: 780px;
    height: 50px;
    margin: 50px 0px 0px 371px;

    opacity: 1;

    padding-bottom: 10px;
}

.button-element
{
    width: 160px;
    height: 40px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;

    text-align: center;
    font: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;

    cursor: pointer;
}

.button-element:hover
{
    background: #ffffffb2 0% 0% no-repeat padding-box;
}

.skew_container  {
    max-width: 100%;
    margin: auto auto;
    overflow: hidden;
    height: 100%;
 }
 
 .skew_container .skew_bg {
    height: 450px;
    background: #707070 0% 0% no-repeat padding-box;
    text-align: center;
    margin-top: -9%;
 }
 
 .skew_container .skew_bg.bg1 {
    transform: skew(0deg, 5deg);
    transform-origin: bottom;
 }
 
 .skew_container .skew_bg.bg1 .content {
    transform: skew(0deg, -5deg);
 }

/*------------------------------------------------------SECTION----------------------------------------------*/
section
{
    position: relative;
    height: auto;
    width: 100%;
}


#container-text-form
{
    margin-top: 20.97px;
    margin-left: 290px;
    width: 520px;
    float: left;
}

#title-text-form
{
    width: 332px;
    height: 23px;

    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    margin: 0px 0px 30px 0px;
}

#body-text-form
{
    width: 520px;
    height: 220px;

    text-align: left;
    font: normal normal normal 12px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    margin: 0px 0px 0px 0px;
}

#form
{
    width: 340px;
    height: auto;
    margin-top: 20.97px;
    margin-right: 290px;

    float: right;
    opacity: 1;
}

.label-form
{
    width: 58px;
    height: 14px;

    text-align: left;
    font: normal normal normal 12px/14px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    margin-bottom: 7px;
    cursor: pointer;
}

.textbox-form
{
    width: 340px;
    height: 30px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin-bottom: 20px;
    cursor: text;
    outline: none;
}

.gender-button
{
    width: 14px;
    height: 14px;
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    cursor: pointer;
}

.label-gender
{
    width: 55px;
    height: 14px;

    text-align: left;
    font: normal normal normal 12px/14px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    cursor: pointer;
}

#form-button
{
    width: 340px;
    height: 39px;
    margin: 23px 0px 91px 60px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;

    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#form-button:hover
{
    background: #e9e9e9 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
}

#divisor-products,
#divisor-share
{
    position: relative;
    line-height: 1em;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;

    margin-left: 290px !important;
    margin-right: 290px !important;
}

#divisor-products::before,
#divisor-share::before
{
    content: '';
    background: #707070;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

#divisor-products::after,
#divisor-share::after
{
    content: attr(data-content);
    position: relative;
    display: inline-block;

    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #fcfcfa;
    font: normal normal bold 18px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #050505;
    opacity: 1;
}

#list-product
{
    width: 931px;
    height: auto;
    margin-left: 285px;
}

.info-product
{
    width: 201px;
    height: auto;

    display: inline-block;
    opacity: 1;
    margin: 39px 20px auto 20px;
}

.info-product:first-child
{
    margin-left: 0px;
}

.info-product:nth-child(4n + 1)
{
    margin-left: 0px;
}

.info-product:nth-child(4n)
{
    margin-right: 0px;
}

.image-product
{
    width: 200px;
    height: 150px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.name-product
{
    text-align: left;
    font: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.name-product h4
{
    margin: 14px 0px 0px 0px;
}

.description-product
{
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.description-product p
{
    margin: 10px 0px 0px 0px;
}

.old-price
{
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.old-price p
{
    margin: 0px 0px 0px 0px;
}

.new-price
{
    text-align: left;
    font: normal normal bold 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.new-price p
{
    margin: 6px 0px 0px 0px;
}

.divided-price
{
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.divided-price p
{
    margin: 7px 0px 0px 0px;
}

.buy-button
{
    width: 200px;
    height: 30px;
    margin-top: 10px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;

    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.buy-button:hover
{
    background: #e6e6e6 0% 0% no-repeat padding-box;
    border: 1px solid #181818;
}

#more-products-button
{
    width: 260px;
    height: 39px;
    margin: 51px auto 140px 620px;
    cursor: pointer;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;

    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#more-products-button:hover
{
    background: #d8d8d8 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
}

#subtitle-share
{
    width: 534px;
    height: 16px;
    margin: 54px auto auto 483px;

    text-align: center;
    font: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#form-share
{
    width: 750px;
    height: 51px;
    margin: 39px auto auto 390px ;

    opacity: 1;
}

.element-form-share
{
    display: inline-block;
    width: 340px;
    height: 51px;

    opacity: 1;
}

.label-form-share
{
    width: 112px;
    height: 14px;

    text-align: left;
    font: normal normal normal 12px/14px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    cursor: pointer;
}

.textbox-form-share
{
    width: 340px;
    height: 30px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    cursor: text;
    outline:none;
}

.textbox-form-share:focus:valid
{
    border: 2px solid green;  
}

.textbox-form-share:focus:invalid
{
    border: 2px solid red;  
}

#button-send-friend
{
    width: 260px;
    height: 39px;
    margin: 50px auto 71.76px 620px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;

    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    cursor: pointer;
}

#button-send-friend:hover
{
    background: #d8d8d8 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
}

/*------------------------------------------------FOOTER-----------------------------------------*/

footer
{
    position: relative;
    width: 100%;
    height: 293.24px;

    /*background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;*/
}

.rectangle-fill-skew2
{
    position: absolute;
    z-index: -1;
    height: 150px;
    width: 100%;
    margin-top: 143.23px;
    background: #707070 0% 0% no-repeat padding-box;

}

.skew_container2{
    max-width: 100%;
    margin: auto auto;
    overflow: hidden;
    height: 100%;
 }
 
 .skew_container2 .skew_bg2 {
    position: absolute;
    top: 70px;
    height: 150px;
    width: 100%;
    background: #707070 0% 0% no-repeat padding-box;
    text-align: center;
    margin-top: 10px;
 }
 
 .skew_container2 .skew_bg2.bg2 {
    transform: skew(0deg, -3deg);
 }
 
 .skew_container2 .skew_bg2.bg2 .content2 {
    transform: skew(0deg, 3deg);
 }

 #text-footer
 {
    padding-top: 40px;

    text-align: center;
    font: normal normal normal 12px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
 }