html, body
{
    width: 1500px;
    height: 2444px;
    margin: 0px 0px 0px 0px;
}

/*-------------------------------------HEADER-------------------------------------------------*/

header
{
    position: relative;
    height: 399px;
    background: #707070 0% 0% no-repeat padding-box;
}

.text-element
{
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

    margin: 0px 0px 0px 0px;
}

.text-element:first-child
{
    position: relative;
    top: 69px;
    left: 635px;
    width: 227px;
    height: 23px;

    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
}

.text-element:nth-child(2)
{
    position: relative;
    top: 69px;
    left: 571px;
    width: 358px;
    height: 48px;

    text-align: center;
    font: normal normal bold 40px/49px Helvetica Neue;
}

.text-element:nth-child(3)
{
    position: relative;
    top: 93px;
    left: 476px;
    width: 548px;
    height: 16px;

    text-align: center;
    font: normal normal normal 14px/16px Helvetica Neue;
}

#container-buttons-header
{
    position: relative;
    top: 143px;
    left: 371px;
    width: 780px;
    height: 50px;

    opacity: 1;

    padding-bottom: 10px;
}

.button-element
{
    width: 160px;
    height: 40px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;

    text-align: center;
    font: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;

    cursor: pointer;
}

.button-element:hover
{
    background: #ffffffb2 0% 0% no-repeat padding-box;
}

.skewed
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*------------------------------------------------------SECTION----------------------------------------------*/

#container-text-form
{
    width: 54%;
    float: left;
}

#title-text-form
{
    position: relative;
    top: 0px;
    left: 290px;
    width: 332px;
    height: 23px;

    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    margin-top: 50px;
    opacity: 1;
}

#body-text-form
{
    position: relative;
    top: 30px;
    left: 290px;
    width: 520px;
    height: 220px;

    text-align: left;
    font: normal normal normal 12px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#form
{
    position: relative;
    height: auto;
    width: 46%;

    float: right;
}

#container-form
{
    position: relative;
    top: 0px;
    left: 60px;
    width: 340px;
    height: 227px;
    margin-top: 50px;

    opacity: 1;
}

.label-form
{
    width: 58px;
    height: 14px;

    text-align: left;
    font: normal normal normal 12px/14px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    margin-bottom: 7px;
    cursor: pointer;
}

.textbox-form
{
    width: 340px;
    height: 30px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin-bottom: 20px;
    cursor: pointer;
}

.gender-button
{
    width: 14px;
    height: 14px;
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    cursor: pointer;
}

.label-gender
{
    width: 55px;
    height: 14px;

    text-align: left;
    font: normal normal normal 12px/14px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    cursor: pointer;
}

#form-button
{
    position: relative;
    top: 23px;
    left: 60px;
    width: 340px;
    height: 39px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;

    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#form-button:hover
{
    background: #e9e9e9 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
}

#divisor-products
{
    position: relative;
    top: 91px;
    left: 289px;
    width: 920px;
    height: 0px;

    border: 1px solid #707070;
    opacity: 1;
    margin: 0px 0px 0px 0px;
}

#container-title
{
    position: absolute;
    z-index: 1;
    top: 788px;
    left: 649px;
    width: 215px;
    height: 40px;

    background-color: white;
}

#title-divisor-products
{
    position: absolute;
    z-index: 2;
    width: 181px;
    height: 25px;

    text-align: center;
    font: normal normal bold 18px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1; 
    margin: 18px 0px 0px 17px;
}

#list-product
{
    position: relative;
    top: 161px;
    left: 285px;
    width: 1000px;
    height: auto;
}

.line-products
{
    height: auto;
    margin-top: 39px;
}

.line-products .info-produto:first-child
{
    margin-left: 0px;
}

.line-products .info-produto:last-child
{
    margin-right: 0px;
}

.info-produto
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 201px;
    height: 350px;

    display: inline-block;
    opacity: 1;
    margin: auto 20px auto 20px;
}

.image-product
{
    width: 200px;
    height: 150px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.name-product
{
    text-align: left;
    font: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.description-product
{
    width: 200px;
    height: 60px;

    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.description-product p
{
    margin: 0px 0px 0px 0px;
}

.old-price
{
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.new-price
{
    text-align: left;
    font: normal normal bold 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.divided-price
{
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.buy-button
{
    width: 200px;
    height: 30px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;

    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.buy-button:hover
{
    background: #e6e6e6 0% 0% no-repeat padding-box;
    border: 1px solid #181818;
}

#more-products-button
{
    position: relative;
    top: 218px;
    left: 620px;
    width: 260px;
    height: 39px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;

    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#more-products-button:hover
{
    background: #d8d8d8 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
}

#divisor-share
{
    position: relative;
    top: 331px;
    left: 290px;
    width: 920px;
    height: 0px;

    border: 1px solid #707070;
    opacity: 1;

    margin: 0px 0px 0px 0px;
}

#container-share-title
{
    position: absolute;
    z-index: 1;
    top: 1930px;
    left: 649px;
    width: 215px;
    height: 40px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

#share-title
{
    position: absolute;
    z-index: 2;

    text-align: left;
    font: normal normal bold 18px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    margin: 20px auto auto 14.49px;
}