/**
{
    /*To see bugs*//*
    background: black !important;
    border: 1px solid red !important;
    color: green !important;
}*/

html, body
{
    min-width: fit-content;
    height: auto;
    margin: 0px 0px 0px 0px;
}

/*-------------------------------------HEADER-------------------------------------------------*/

header
{
    position: static;
    height: 399px;
    width: 1500px;
    background: #707070 0% 0% no-repeat padding-box;
}

.text-element
{
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

    margin: 0px 0px 0px 0px;
}

.text-element:first-child
{
    position: absolute;
    top: 69px;
    left: 635px;
    width: 227px;
    height: 23px;

    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
}

.text-element:nth-child(2)
{
    position: absolute;
    top: 92px;
    left: 571px;
    width: 358px;
    height: 48px;

    text-align: center;
    font: normal normal bold 40px/49px Helvetica Neue;
}

.text-element:nth-child(3)
{
    position: absolute;
    top: 164px;
    left: 476px;
    width: 548px;
    height: 16px;

    text-align: center;
    font: normal normal normal 14px/16px Helvetica Neue;
}

#container-buttons-header
{
    position: absolute;
    top: 230px;
    left: 371px;
    width: 780px;
    height: 50px;

    opacity: 1;

    padding-bottom: 10px;
}

.button-element
{
    width: 160px;
    height: 40px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;

    text-align: center;
    font: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;

    cursor: pointer;
}

.button-element:hover
{
    background: #ffffffb2 0% 0% no-repeat padding-box;
}

.skewed
{
    position: relative;
    top: 299px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*------------------------------------------------------SECTION----------------------------------------------*/
section
{
    position: relative;
    height: auto;
    width: 100%;
}


#container-text-form
{
    margin-top: 20.97px;
    margin-left: 290px;
    width: 520px;
    float: left;
}

#title-text-form
{
    width: 332px;
    height: 23px;

    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    margin: 0px 0px 30px 0px;
}

#body-text-form
{
    width: 520px;
    height: 220px;

    text-align: left;
    font: normal normal normal 12px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    margin: 0px 0px 0px 0px;
}

#form
{
    width: 340px;
    height: auto;
    margin-top: 20.97px;
    margin-right: 290px;

    float: right;
    opacity: 1;
}

.label-form
{
    width: 58px;
    height: 14px;

    text-align: left;
    font: normal normal normal 12px/14px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    margin-bottom: 7px;
    cursor: pointer;
}

.textbox-form
{
    width: 340px;
    height: 30px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin-bottom: 20px;
    cursor: pointer;
}

.gender-button
{
    width: 14px;
    height: 14px;
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    cursor: pointer;
}

.label-gender
{
    width: 55px;
    height: 14px;

    text-align: left;
    font: normal normal normal 12px/14px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    cursor: pointer;
}

#form-button
{
    width: 340px;
    height: 39px;
    margin: 23px 0px 91px 60px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;

    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#form-button:hover
{
    background: #e9e9e9 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
}

#divisor-products,
#divisor-share
{
    position: relative;
    line-height: 1em;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;

    margin-left: 290px !important;
    margin-right: 290px !important;
}

#divisor-products::before,
#divisor-share::before
{
    content: '';
    background: #707070;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

#divisor-products::after,
#divisor-share::after
{
    content: attr(data-content);
    position: relative;
    display: inline-block;

    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #fcfcfa;
    font: normal normal bold 18px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #050505;
    opacity: 1;
}

#list-product
{
    width: 931px;
    height: auto;
    margin-left: 285px;
}

.line-products
{
    width: 100%;
    height: auto;
    margin-top: 39px;
}

.line-products .info-produto:first-child
{
    margin-left: 0px;
}

.line-products .info-produto:last-child
{
    margin-right: 0px;
}

.info-produto
{
    width: 201px;
    height: auto;

    display: inline-block;
    opacity: 1;
    margin: auto 20px auto 17px;
}

.image-product
{
    width: 200px;
    height: 150px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.name-product
{
    text-align: left;
    font: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.name-product h4
{
    margin: 14px 0px 0px 0px;
}

.description-product
{
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.description-product p
{
    margin: 10px 0px 0px 0px;
}

.old-price
{
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.old-price p
{
    margin: 0px 0px 0px 0px;
}

.new-price
{
    text-align: left;
    font: normal normal bold 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.new-price p
{
    margin: 6px 0px 0px 0px;
}

.divided-price
{
    text-align: left;
    font: normal normal normal 12px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.divided-price p
{
    margin: 7px 0px 0px 0px;
}

.buy-button
{
    width: 200px;
    height: 30px;
    margin-top: 10px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;

    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.buy-button:hover
{
    background: #e6e6e6 0% 0% no-repeat padding-box;
    border: 1px solid #181818;
}

#more-products-button
{
    width: 260px;
    height: 39px;
    margin: 51px auto 140px 620px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;

    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#more-products-button:hover
{
    background: #d8d8d8 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
}

#subtitle-share
{
    width: 534px;
    height: 16px;
    margin: 54px auto auto 483px;

    text-align: center;
    font: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#form-share
{
    width: 750px;
    height: 51px;
    margin: 39px auto auto 390px ;

    opacity: 1;
}

.element-form-share
{
    display: inline-block;
    width: 340px;
    height: 51px;

    opacity: 1;
}

.label-form-share
{
    width: 112px;
    height: 14px;

    text-align: left;
    font: normal normal normal 12px/14px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    cursor: pointer;
}

.textbox-form-share
{
    width: 340px;
    height: 30px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    cursor: pointer;
}

#button-send-friend
{
    width: 260px;
    height: 39px;
    margin: 50px auto auto 620px;

    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    cursor: pointer;
}

/*------------------------------------------------FOOTER-----------------------------------------*/

footer
{
    position: relative;
    width: 1500px;
    height: 293px;
    margin-top: 71.76px;

    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

#text-footer
{
    width: 260px;
    height: 50px;
    margin: 57.24px auto auto 620px;

    text-align: center;
    font: normal normal normal 12px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.skewed2
{
    position: relative;
    bottom: 2px;
    width: 100%;
    height: 100px;
    -webkit-transform: scaleX(-3);
    transform: scaleX(-3);
    transform: rotate(180deg);
}