#inner-container-header
{
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 399px;

    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.texto-elemento
{
    width: auto;
    height: auto;
}

.texto-elemento h3
{
    top: 69px;
    left: 635px;
    width: 227px;
    height: 23px;

    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.texto-elemento h1
{
    top: 92px;
    left: 571px;
    width: 358px;
    height: 48px;

    text-align: center;
    font: normal normal bold 40px/49px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.texto-elemento h4
{
    top: 164px;
    left: 476px;
    width: 548px;
    height: 16px;

    text-align: center;
    font: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}